node_modules/
cypress/videos
cypress/screenshots
reports
mochawesomeReports
cypress/downloads
cypress.env.json
.DS_Store
cypress/.DS_Store
allure-results
allure-report
cypress/e2e/1-getting-started
cypress/e2e/2-advanced-examples
.vscode/
.idea/